<div class="post-container-posted">
  <h2>Find Friends</h2>
  <% @users.each do |user| %>
    <% friendship = current_user.friendships.find_by(friend_id: user.id) %>
    <% unless user == current_user || friendship %>
    <div class="post-content">
      <%= link_to user.first_name + ' ' + user.last_name, profile_user_path(user) %><br>
      <% requested = user.received_requests.find { |request| request.requestor_id = current_user.id } %>
      <% if requested %>
        <%= button_to 'Delete Friend Request', friend_request_path(requested), method: :delete, class: "post-btn" %>
      <% else %>
        <%= button_to 'Add Friend', friend_requests_path(requestor_id: current_user.id, receiver_id: user.id), method: :post, class: "post-btn" %>
      <% end %>
    </div>
    <% end%>
  <% end %>
</div>